<html lang="en">
{%load static%}
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block 'title' %}  {% endblock %}</title>
	<link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/linericon/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts/font-awesome/css/font-awesome.css' %}">
	<link rel="stylesheet" href="{% static 'css/fonts/entypo/css/entypo.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/owl-carousel/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/lightbox/simpleLightbox.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/nice-select/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'vendors/animate-css/animate.css' %}">
	<!-- main css -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="header-top">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6 col-sm-6 col-4 header-top-left">
						<a href="tel:+977 9846718211">
							<span class="lnr lnr-phone"></span>
							<span class="text">
								<span class="text">+977 9846718211</span>
							</span>
						</a>
						<a href="mailto:support@colorlib.com">
							<span class="lnr lnr-envelope"></span>
							<span class="text">
								<span class="text">support@indrak.com</span>
							</span>
						</a>
					</div>
					<div class="col-lg-6 col-sm-6 col-8 header-top-right">
						{% if request.user.is_authenticated%}
						<a href="{% url 'logout' %}" class="text-uppercase">logout</a>
						{%else%}
						<a href="{% url 'login' %}" class="text-uppercase">Login</a>
                        <a href="{% url 'signup' %}" class="text-uppercase">SignUp</a>
						{%endif%}
					</div>
				</div>
			</div>
		</div>

<!--		<div class="main_menu">-->
<!--			<div class="search_input" id="search_input_box">-->
<!--				<div class="container">-->
<!--					<form class="d-flex justify-content-between" method="" action="">-->
<!--						<input type="text" class="form-control" id="search_input" placeholder="Search Here">-->
<!--						<button type="submit" class="btn"></button>-->
<!--						<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>-->
<!--					</form>-->
<!--				</div>-->
<!--			</div>-->

			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					{%block 'logo'%}
					<img src="{% static 'img/kct.png'%}">
					{%endblock%}
					<a class="navbar-brand logo_h" href="#" style="float: right"></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
				</div>
			</nav>
	</header>
	<!--================ End Header Menu Area =================-->


{%block 'content'%}
  <img src="{% static 'img/background.jpg' %}" style="width: 100%; height: 100%;">
  <div class="center" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: large">
	  <div class="box" style="background-color:white">
		  <h1 style="color: black;"><center>WELCOME STUDENT</center></h1>
	  </div>
			  <h1 style="color: red;">Login First To Search Result</h1>

	  <br>
	  <hr/>
		  <a href="{% url 'login' %}" class="btn btn-outline-warning" style="margin-right: 40px;">Login</a>
	  <a href="{% url 'signup' %}" class="btn btn-outline-warning">SignUp</a></hr>
	  </div>
{%endblock%}

<!--================ Start footer Area  =================-->
	<footer>
		<div class="container">
			<div class="row">
				<div class="single-footer-widget">
					<h4>About Site</h4>
					<ul>
						<li><a href="#">Managed Website</a></li>
						<li><a href="#">Manage Homework</a></li>
						<li><a href="#">Presentations</a></li>
						<li><a href="#">Marketing Service</a></li>
					</ul>
				</div>



				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Helps for Student</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Sometime visit</a></li>
						<li><a href="#">Related Courses</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>


				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Features</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Research</a></li>
						<li><a href="#">Experts</a></li>
						<li><a href="#">Agencies</a></li>
					</ul>
				</div>
				<div class="col-lg-4 col-md-6 single-footer-widget">
					<h4>Newsletter</h4>
					<p>You can trust us. we only send promo offers,</p>
					<div class="form-wrap" id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get" class="form-inline">
							<input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address'"
							 required="" type="email">
							<button class="click-btn btn btn-default">
								<span>subscribe</span>
							</button>
							<div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
						</form>
					</div>
				</div>
			</div>
			<div class="row footer-bottom d-flex justify-content-between">
				<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">Copyright © 2018 All rights reserved | This template is
				made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Colorlib</a></p>
				<div class="col-lg-4 col-sm-12 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->


	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/stellar.js' %}"></script>
	<script src="{% static 'js/countdown.js' %}"></script>
	<script src="{% static 'vendors/nice-select/js/jquery.nice-select.min.js' %}"></script>
	<script src="{% static 'vendors/owl-carousel/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/owl-carousel-thumb.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'vendors/counter-up/jquery.counterup.js' %}"></script>
	<script src="{% static 'js/mail-script.js' %}"></script>
	<!--gmaps Js-->
	<script src="{% static 'https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE' %}"></script>
	<script src="{% static 'js/gmaps.min.js' %}"></script>
	<script src="{% static 'js/theme.js' %}"></script>
</body>
</html>

